<div class="home-page d-flex align-items-center justify-content-center">
  <div class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">GrinBerry</h1>
        <p class="lead">
          GrinBerry Planner is your reliable tool for organizing tasks and time.<br>
          Work more efficiently, manage projects, and achieve your goals without unnecessary stress.<br>
          Easily customize task lists, track deadlines, and keep everything under control.
        </p>
        <p class="lead">
          <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>
    </div>
  </div>
</div>
